.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: white;
    padding-bottom: 30px;

}

.header {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30o=px;

}

.text {
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}



.underline {
    width: 61;
    height: 6;
    background: #3c009d;
    border-radius: 9px;
}


.forgot-password span {

    color: #3c009d;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #3c009d;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}











.inputs {

    margin: auto;
}



.input input {
    border: none;
    outline: none;


}